#juego{
    width: 800px;
    height: 600px;
    border:1px solid #00f;
    margin:50px auto;
    position: relative;
}
#menujuego{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #000;
    background-image: url('./../img/fondomenu.jpg');
    width: 800px;
    height: 600px;
}
#menujuego .opcion{
    border:5px solid #fff;
    color:#fff;
    font-size: 2em;
    padding: 10px;
    margin: 15px auto;
    cursor: pointer;
    max-width: 50%;
    border-radius:30px;
    transition:all ease 0.5s;
    text-align: center;
}
#menujuego .opcion:hover{
    background-color: #ff0000;
    border-color:#ff0000;
    color:#fff;
}
#nuevapartida{
    position: absolute;
    display: none;
    width:200px;
    height: 120px;
    top:50%;
    left: 50%;
    margin-top:-60px;
    margin-left:-100px;
    z-index: 1000;
    background-color: #eaeaea;
    text-align: center;
    padding:15px;
}